[Unit]
Description=Runttare service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/pi/runttare-2000
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down -v
TimeoutStartSec=0
Restart=on-failure
StartLimitInterval=60
StartLimitBurst=3
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
